{% extends "./parent.html" %}
{% block html %} 
<body>

    <div class = "container">
        <h1>Create A New Wishlist item-</h1>

        <div style="display: flex; flex-direction:column;">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    </li>
                    {% endfor %}
            </ul>
            {% endif %}
        
            <h1>Item/product </h1>
            <div class="form-group">
                <form action="/wish_items/new_item/" method="post">
                    {% csrf_token %}
                    <input type="text" name="item_name">
                    <input type="submit" value="Add Item">
                </form>
            </div>
       </div>
    </div> 
</body>
{% endblock%}