{% extends "./parent.html" %}
{% block html %} 

<div class = "container">
    <h1>Hello {{first_name}}</h1>
    
    <h3>Your Wish List:</h3>
    <table class="table table-striped" >
        <thead>
          <tr>
            <th>Item:</th>
            <th>Added By:</th>
            <th>Date Added:</th>
            <th>Actions:</th>
          </tr>
        </thead>
        <tbody>
          {% for item in my_list %}
              <tr>
                <td><a href="/wish_items/{{item.id}}">{{item.item_name}}</a></td>
                <td> {{ item.added_by.first_name}}</td>
                <td>{{ item.created_at }}</td>
                <td>
                  {% if item.added_by.id == id %}  
                    <form action="/wish_items/{{ item.id }}/delete" method="post">
                      {% csrf_token %}
                      <input type="submit" value="Delete Item" >
                    </form>
                  {% else %}
                    <form action="/wish_items/{{ item.id }}/remove" method="post">
                      {% csrf_token %}
                      <input type="submit" value="Remove From My List">
                    </form>
                  {% endif %}
                </td>
              </tr>
          {% endfor %}
        </tbody>
      

      </table>
      <br>
      <br>

      <h3>Other Users Wish List</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Item:</th>
            <th>Added By:</th>
            <th>Date Added:</th>
            <th>Actions:</th>
          </tr>
        </thead>
        <tbody>
            {% for item in wishlist %}
              {% if item.added_by.id != id %}
                <tr>
                  <td><a href="/wish_items/{{item.id}}">{{item.item_name}}</a></td>
                  <td> {{ item.added_by.first_name}}</td>
                  <td>{{ item.created_at }}</td>
                  <td>
                    {% if item.liked_by.id != id %}
                      <form action="/wish_items/{{ item.id }}/add_item" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Add Item TO My Wish List">
                      </form>
                    
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
            
        </tbody>
      
      
      </table>
      <h3><a href="/wish_items/create" class="btn btn-primary btn-lg justify-content-end">Add an Item</a></h3>

    </div>

    
      
  {% endblock%}