{% extends "./parent.html" %}
{% block html %} 
    <div class="container">
        <h1>{{name}}</h1>
        <br>
        <br>

        <h3>Other People who Have added This TO Their User List:</h3>
    <br>
    <br>
        <ul class="list-group">
            {% for user in user_list %} 
            <li class="list-group-item list-group-item-secondary">
                {{user.first_name}} {{user.last_name}}
            </li>
            {% endfor %}


        </ul>

            

    
    </div>

{% endblock%}