{% extends "./parent.html" %}

{% block html %}
<body>
<div class = "container">
    <div class = "row">

    
    <div class="col">
       <h1>Login below</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
    
    
        <form action="/process_user/" method="POST">
            <div class="form-group">
                {% csrf_token %}
                <label>E-mail</label>
                <input type="email" name="email" placeholder="Darthvader@IamYourFather.com">
                </div>
                <div class="form-group">
                <label>Password</label>
                <input type="password" name="password">
                <input type="submit" value="Login" name="Login">
            </div>
        </form>
    </div>    

    <div class = "col">
        <h1>Register here</h1>

        <form action="/process_user/" method="POST">
        <div class="form-group">
                {% csrf_token %}
                <label>First Name</label>
                <input type="text" name="first_name" placeholder="Lord">
            </div>    
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="last_name" placeholder="Vader">
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" name="email" placeholder="Darthvader@IamYourFather.com">
            </div>
            <div class="form-group">    
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <div class="form-group">    
                <label>Date Hired</label>
                 <input type="date" name="hired">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password">
                <input type="submit" value="Register" name="Register">
            </div>
        </div>
        </form>
    </div>
</div>
       
</body>
</div>
 {% endblock html%}
